<!--The content below is only a placeholder and can be replaced.-->

<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">CS department</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/achievements">Achievements</a></li>
        <li><a href="#">Faculty</a></li>
        <li><a href="#">Events</a></li>
      </ul>
    </div>
  </nav>
  <h3>Welcome to Computer Science Department Website</h3>
 
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/index.jpg">
          <span class="card-title">About Us</span>
        </div>
        <div class="card-content">
          <p>Sahyadri College of Engineering & Management is a premier technological institution fostering excellence in education, research & values towards inspiring and developing future torchbearers. The institute is in existence since a decade, being recognized by AICTE, Government of India, affiliated to VTU, Government of Karnataka, NAAC accredited with “A” Grade, recognized by the UGC and certified by IAO & ISO 9001-2008. The institute is located on the banks of river Nethravathi, within the city limits at a short distance from the port city of Mangaluru, known as a popular education hub. </p>
        </div>
            

        </div>
      </div>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        
  <a class="waves-effect waves-light btn-large">Button</a>
      </form>
    </div>
        
      
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Sahyadri CS department</h5>
              <p class="grey-text text-lighten-4">Sahyadri College of Engineering & Management is a premier technological institution fostering excellence in education, research & values towards inspiring and developing future torchbearers. </p>
            </div>
            <div class="col l4 offset-l2 s12">
              
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Achievements</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Faculty</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Events</a></li>
               
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2020 Sahyadri College Of Engineering And Management
         
          </div>
        </div>
      </footer>
<router-outlet></router-outlet>
