<!--The content below is only a placeholder and can be replaced.-->

<nav class="indigo darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">CS department</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/achievements">Achievements</a></li>
        <li><a routerLink="/faculty">Faculty</a></li>
        <li><a routerLink="/events">Events</a></li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
      
    <footer class="page-footer indigo darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Sahyadri CS department</h5>
              <p class="grey-text text-lighten-4">Sahyadri College of Engineering & Management is a premier technological institution fostering excellence in education, research & values towards inspiring and developing future torchbearers. </p>
            </div>
            <div class="col l4 offset-l2 s12">
              
              <ul>
                <li><a class="grey-text text-lighten-3" routerLink="/achievements">Achievements</a></li>
                <li><a class="grey-text text-lighten-3" routerLink="/faculty">Faculty</a></li>
                <li><a class="grey-text text-lighten-3" routerLink="/events">Events</a></li>
               
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2020 Sahyadri College Of Engineering And Management
         
          </div>
        </div>
      
      </footer>

