<div class="container" style="padding-right:30%; ">
<div class="row valign-wrapper">
    <div class="col s12 m7 offset-s3 valign-wrapper">
      <div class="card center-align">
        <div class="card-image">
          <img src="../../assets/chanakya.jpeg">
          
        </div>
        <div class="card-content">
          <h4>Chanakya 2K19</h4>
          <p>Date:28-09-2019</p>
        </div>
        
      </div>
    </div>
    <div class="row valign-wrapper">
    <div class="col s12 m7 offset-s3 valign-wrapper">
      <div class="card center-align">
        <div class="card-image">
          <img src="../../assets/bloodmoon2k19.png">
          
        </div>
        <div class="card-content">
          <h4>Bloodmoon 2k19</h4>
          <p>Date:14-10-2019</p>
        </div>
        
      </div>
    </div>
  </div>
  </div>
  </div>



<a class="waves-effect waves-light btn-large indigo darken-4" routerLink="/">Back to home page</a>
<br>
<br>
<br>