<div class="row">
    <form class="col s12" (submit)="GetData()">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="form-control" [(ngModel)]="name" name="name">
          <label for="first_name">Name</label>
        </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" name="usn">
              <label for="first_name">USN</label>
            </div>
            </div>
            <button class="waves-effect waves-light btn-large indigo darken-4" type="submit">Submit</button>
    </form>
    </div>
    <table class="centered">
      <thead>
        <tr>
            <th>Name</th>
            <th>USN</th>
            <th>Year Of Admission</th>
            <th>Competion</th>
            <th>Participation/Win</th>
            <th>Date of Participation</th>
        </tr>
      </thead>

      <tbody>
        <tr>
         
        </tr>
        
      </tbody>
    </table>

    <a class="waves-effect waves-light btn-large indigo darken-4" routerLink="/">Back to home page</a>
<br>
<br>
<br>
