<div class="row">
  <form class="col s12" #studentForm="ngForm" (ngSubmit)="onSave(studentForm.value)" novalidate>
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate" [(ngModel)]="name" name="name">
        <label for="name">Name</label>
      </div>
    </div>
      <div class="input-field col s6">
        <input id="usn" type="text" class="validate" [(ngModel)]="usn" name="usn">
        <label for="usn">USN</label>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="year" type="text" class="validate" [(ngModel)]="year" name="year">
          <label for="year">Year Of Admission</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="competition" type="text" class="validate" [(ngModel)]="competition" name="competition">
          <label for="competition">Competion</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="position" type="text" class="validate" [(ngModel)]="position" name="position">
          <label for="position">Position</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">        
          <input type="date" class="datepicker" id="date" [(ngModel)]="date" name="date">
              
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="event" type="text" class="validate" [(ngModel)]="event" name="event">
          <label for="event">Event</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="venue" type="text" class="validate" [(ngModel)]="venue" name="venue">
          <label for="venue">Venue</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="level" type="text" class="validate" [(ngModel)]="level" name="level">
          <label for="level">Level</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn-large indigo darken-4" type="submit">Submit</button>
    </form>
    
</div>
    <table class="centered">
      <thead>
        <tr>
            <th>Name</th>
            <th>USN</th>
            <th>Year Of Admission</th>
            <th>Competion</th>
            <th>Position</th>
            <th>Date of Participation</th>
            <th>Event</th>
            <th>Venue</th>
            <th>Level</th>
        </tr>
      </thead>

      <tbody *ngFor="let i of details">
        <tr>
         <td>{{i.name}}</td>
         <td>{{i.usn}}</td>
         <td>{{i.year}}</td>
         <td>{{i.competition}}</td>
         <td>{{i.position}}</td>
         <td>{{i.date}}</td>
         <td>{{i.event}}</td>
         <td>{{i.venue}}</td>
         <td>{{i.level}}</td>
        </tr>
        
      </tbody>
    </table>

    <a class="waves-effect waves-light btn-large indigo darken-4" routerLink="/">Back to home page</a>
<br>
<br>
<br>
